# See https://github.com/github/gitignore

# OS
# IDE and local environment
# Keep patterns in these categories on your local machine in user home
#     git config --global core.excludesFile ~/.gitignore

# Packages
/composer.lock
/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Application
.env
.env.backup
/public/.well-known/
/public/project/
/public/wp-config.php
/public/wp-content/*
!/public/wp-content/maintenance.php
!/public/wp-content/mu-plugins/

# Tests
.php_cs.cache
